.switch {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
}

.avatar {
  display: flex;
  width: max-content;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  padding: 8px;
  overflow: hidden;
  border-radius: 9999px;
}

.username {
  display: inline-block;
  font-weight: 600;
}